@charset "UTF-8";
.banner {
  margin-top: 37px; }

.hamabanner {
  background: url("../images/bg.png") no-repeat;
  height: 580px; }
  .hamabanner .zoomIn {
    animation-delay: 0s; }

.banner-left {
  position: absolute;
  top: 100px;
  left: 250px;
  animation-duration: 1.5s; }

.banner-right {
  position: absolute;
  right: 25%;
  top: 135px;
  width: 500px;
  -webkit-animation-delay: .5s;
  -moz-animation-delay: .5s;
  -o-animation-delay: .5s;
  animation-delay: .5s; }
  .banner-right .banner-right-text {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    font-size: 65px;
    font-weight: bold;
    color: #fff; }
    .banner-right .banner-right-text .font-2 {
      position: relative;
      top: -15px; }
  .banner-right .text-left {
    border-right: 3px solid #fff;
    width: 325px;
    height: 155px; }
    .banner-right .text-left .text-font-2 {
      position: relative;
      top: 75px; }
  .banner-right .text-right {
    position: absolute;
    top: 0;
    right: -100px; }
    .banner-right .text-right .text-font-3 {
      position: relative;
      bottom: -55px; }
  .banner-right .text-title {
    font-family: "Microsoft YaHei UI Light",Arial,sans-serif;
    position: absolute;
    top: 0;
    right: 45%;
    font-size: 45px;
    font-weight: normal;
    margin: 10px 0; }
  .banner-right .text-small {
    font-family: "Microsoft YaHei UI Light",Arial,sans-serif;
    display: inline-block;
    color: #fff;
    font-size: 15px;
    margin-left: 120px;
    padding: 55px 0; }
    .banner-right .text-small .text-small-s1, .banner-right .text-small .text-small-s2, .banner-right .text-small .text-small-s3 {
      display: inline-block;
      padding: 5px;
      border-top: 1px solid #7a7a7a;
      border-bottom: 1px solid #7a7a7a; }
    .banner-right .text-small .text-small-s2, .banner-right .text-small .text-small-s3 {
      margin-top: 10px;
      margin-left: 30px; }
    .banner-right .text-small .text-small-s3 {
      margin-left: 65px; }
  .banner-right .banner-btn {
    position: relative;
    top: 10px;
    left: 170px; }
    .banner-right .banner-btn .banner-btn-01, .banner-right .banner-btn .banner-btn-02 {
      width: 130px;
      height: 40px;
      display: inline-block;
      border: 2px solid;
      color: #fff;
      border-radius: 20px;
      font-size: 20px;
      text-align: center;
      line-height: 40px;
      font-family: "Microsoft YaHei",Arial,sans-serif; }
      .banner-right .banner-btn .banner-btn-01:hover, .banner-right .banner-btn .banner-btn-02:hover {
        background: #fff;
        color: #155EA1;
        border-color: #fff;
        transition: all .5s ease-out; }
    .banner-right .banner-btn .banner-btn-02 {
      margin-left: 40px; }

.step {
  position: relative;
  margin-top: 100px; }
  .step .step-title {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 1px solid #EAEAEA; }
    .step .step-title::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate(-50%, -50%);
      content: '';
      border-bottom: 10px solid #1768B3;
      display: block;
      height: 15px;
      width: 80px;
      position: relative;
      top: 18px; }
  .step .step-info {
    margin-top: 80px; }
    .step .step-info .first-step, .step .step-info .second-step, .step .step-info .third-step {
      position: relative;
      overflow: hidden;
      width: 330px;
      height: 450px;
      border: 1px solid transparent;
      border-radius: 15px;
      z-index: 1; }
      .step .step-info .first-step .step-text01, .step .step-info .second-step .step-text01, .step .step-info .third-step .step-text01, .step .step-info .second-step .step-text02, .step .step-info .third-step .step-text03 {
        position: absolute;
        /*top: 50%;*/
        /*left: 50%;*/
        transform: translate3d(-50%, -50%, 0);
        -ms-transform: translate(-50%, -50%);
        font-family: "Microsoft YaHei UI Light",Arial,sans-serif;
        width: 100%;
        text-align: center;
        font-size: 14px;
        color: #fff;
        line-height: 2;
        top: 122%;
        left: 48%;
        cursor: pointer;
        transition: top .5s ease; }
        .step .step-info .first-step .step-text01::after, .step .step-info .second-step .step-text01::after, .step .step-info .third-step .step-text01::after, .step .step-info .second-step .step-text02::after, .step .step-info .third-step .step-text03::after {
          content: '';
          display: inline-block;
          width: 330px;
          height: 450px;
          position: absolute;
          top: -22px;
          right: 0;
          bottom: 0;
          left: 5px;
          opacity: 0.8;
          background: #155EA1;
          border: 1px solid transparent;
          border-radius: 15px;
          z-index: -1; }
        .step .step-info .first-step .step-text01:hover, .step .step-info .second-step .step-text01:hover, .step .step-info .third-step .step-text01:hover, .step .step-info .second-step .step-text02:hover, .step .step-info .third-step .step-text03:hover {
          top: 41%; }
        .step .step-info .first-step .step-text01 p:nth-child(1), .step .step-info .second-step .step-text01 p:nth-child(1), .step .step-info .third-step .step-text01 p:nth-child(1), .step .step-info .second-step .step-text02 p:nth-child(1), .step .step-info .third-step .step-text03 p:nth-child(1) {
          line-height: 1;
          font-size: 25px;
          font-weight: bold; }
        .step .step-info .first-step .step-text01 p:nth-child(2), .step .step-info .second-step .step-text01 p:nth-child(2), .step .step-info .third-step .step-text01 p:nth-child(2), .step .step-info .second-step .step-text02 p:nth-child(2), .step .step-info .third-step .step-text03 p:nth-child(2) {
          font-size: 20px; }
          .step .step-info .first-step .step-text01 p:nth-child(2):after, .step .step-info .second-step .step-text01 p:nth-child(2):after, .step .step-info .third-step .step-text01 p:nth-child(2):after, .step .step-info .second-step .step-text02 p:nth-child(2):after, .step .step-info .third-step .step-text03 p:nth-child(2):after {
            content: '';
            border-bottom: 3px solid #EFAF32;
            display: block;
            height: 30px;
            width: 45px;
            position: relative;
            top: -10px;
            left: 43%;
            margin-bottom: 30px; }
    .step .step-info .second-step .step-text02 {
      top: 113%; }
      .step .step-info .second-step .step-text02::after {
        content: '';
        display: inline-block;
        width: 330px;
        height: 450px;
        position: absolute;
        top: -22px;
        right: 0;
        bottom: 0;
        left: 5px;
        opacity: 0.8;
        background: #155EA1;
        border: 1px solid transparent;
        border-radius: 15px;
        z-index: -1; }
      .step .step-info .second-step .step-text02:hover {
        top: 31%; }
      .step .step-info .second-step .step-text02 p:nth-child(1) {
        line-height: 1;
        font-size: 25px;
        font-weight: bold; }
      .step .step-info .second-step .step-text02 p:nth-child(2) {
        font-size: 20px; }
        .step .step-info .second-step .step-text02 p:nth-child(2):after {
          content: '';
          border-bottom: 3px solid #EFAF32;
          display: block;
          height: 30px;
          width: 45px;
          position: relative;
          top: -10px;
          left: 43%;
          margin-bottom: 30px; }
    .step .step-info .third-step .step-text03 {
      top: 116%; }
      .step .step-info .third-step .step-text03::after {
        content: '';
        display: inline-block;
        width: 330px;
        height: 450px;
        position: absolute;
        top: -22px;
        right: 0;
        bottom: 0;
        left: 5px;
        opacity: 0.8;
        background: #155EA1;
        border: 1px solid transparent;
        border-radius: 15px;
        z-index: -1; }
      .step .step-info .third-step .step-text03:hover {
        top: 34%; }
      .step .step-info .third-step .step-text03 p:nth-child(1) {
        line-height: 1;
        font-size: 25px;
        font-weight: bold; }
      .step .step-info .third-step .step-text03 p:nth-child(2) {
        font-size: 20px; }
        .step .step-info .third-step .step-text03 p:nth-child(2):after {
          content: '';
          border-bottom: 3px solid #EFAF32;
          display: block;
          height: 30px;
          width: 45px;
          position: relative;
          top: -10px;
          left: 43%;
          margin-bottom: 30px; }
  .step .icon-dot {
    position: absolute;
    right: 20px;
    top: 12%; }
    .step .icon-dot li {
      margin-bottom: 40px; }

.step-banner {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  background: url("../images/snowbanner.png") no-repeat;
  height: 650px;
  margin-top: 80px;
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 3; }
  .step-banner .step-banner-text p:nth-child(1) {
    font-size: 30px;
    font-weight: bold; }
  .step-banner .step-banner-text p:nth-child(2):before {
    content: url("../images/quote-left.png");
    height: 29px;
    position: relative;
    bottom: 30px;
    right: 20px; }
  .step-banner .step-banner-text p:nth-child(2):after {
    content: url("../images/quote-right.png");
    height: 29px;
    position: relative;
    top: 30px;
    left: 20px; }
  .step-banner .step-banner-video {
    background: url("../images/reat.png") no-repeat center center;
    height: 242px;
    margin-top: 230px; }
    .step-banner .step-banner-video embed {
      /*background: transparent url("../images/video.png") 50% 50% no-repeat;*/
      /*background-size: cover;*/
      position: relative;
      top: -210px;
      left: 112px; }
      .step-banner .step-banner-video video:after {
        content: '';
        display: inline-block;
        width: 330px;
        height: 450px;
        position: absolute;
        top: -22px;
        right: 0;
        bottom: 0;
        left: 5px;
        opacity: 0.8;
        background: #155EA1;
        border: 1px solid transparent;
        border-radius: 15px;
        z-index: -1; }
    .step-banner .step-banner-video .free-btn {
      display: inline-block;
      width: 216px;
      height: 55px;
      font-size: 24px;
      line-height: 55px;
      border: 2px solid #fff;
      color: #155EA1;
      position: relative;
      top: -155px;
      left: -19%;
      background: #fff;
      border-radius: 35px; }
      .step-banner .step-banner-video .free-btn:hover {
        background: #155EA1;
        color: #fff;
        border-color: #155EA1;
        transition: all .5s ease-out; }

.video-shade {
  position: absolute;
  /*top: 50%;*/
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate(-50%, -50%);
  z-index: 9999;
  width: 700px;
  height: 395px;
  top: 78%;
  opacity: 0.8;
  background: #000; }

.video-shade img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate(-50%, -50%); }

.title-margin {
  margin: 100px 0; }
  .title-margin .intro-title {
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    display: inline-block;
    font-size: 41px;
    font-weight: bold;
    border-bottom: 1px solid #EAEAEA; }
    .title-margin .intro-title::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate(-50%, -50%);
      content: '';
      border-bottom: 10px solid #1768B3;
      display: block;
      height: 15px;
      width: 80px;
      position: relative;
      top: 18px; }

.icons-1 {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  width: 206px;
  height: 206px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 15px; }
  .icons-1 span:nth-child(1) {
    line-height: 500px; }
  .icons-1::before {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(180deg);
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-1::after {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-1:hover::before {
    transform: rotateY(0deg); }
  .icons-1:hover::after {
    transform: rotateY(180deg); }
  .icons-1::before {
    background: url("../images/pic1-h.png"); }
  .icons-1::after {
    background: url("../images/pic1.png"); }

.icons-2 {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  width: 206px;
  height: 206px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 15px; }
  .icons-2 span:nth-child(1) {
    line-height: 500px; }
  .icons-2::before {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(180deg);
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-2::after {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-2:hover::before {
    transform: rotateY(0deg); }
  .icons-2:hover::after {
    transform: rotateY(180deg); }
  .icons-2::before {
    background: url("../images/pic2-h.png"); }
  .icons-2::after {
    background: url("../images/pic2.png"); }

.icons-3 {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  width: 206px;
  height: 206px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 15px; }
  .icons-3 span:nth-child(1) {
    line-height: 500px; }
  .icons-3::before {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(180deg);
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-3::after {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-3:hover::before {
    transform: rotateY(0deg); }
  .icons-3:hover::after {
    transform: rotateY(180deg); }
  .icons-3::before {
    background: url("../images/pic3-h.png"); }
  .icons-3::after {
    background: url("../images/pic3.png"); }

.icons-4 {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  width: 206px;
  height: 206px;
  position: relative;
  cursor: pointer;
  text-align: center;
  font-size: 15px; }
  .icons-4 span:nth-child(1) {
    line-height: 500px; }
  .icons-4::before {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(180deg);
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-4::after {
    content: "";
    width: 206px;
    height: 206px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s;
    backface-visibility: hidden; }
  .icons-4:hover::before {
    transform: rotateY(0deg); }
  .icons-4:hover::after {
    transform: rotateY(180deg); }
  .icons-4 span:nth-child(1) {
    display: inline-block;
    width: 350px;
    height: 0;
    text-align: left; }
  .icons-4::before {
    background: url("../images/pic4-h.png"); }
  .icons-4::after {
    background: url("../images/pic4.png"); }

.hamaline-detail {
  margin: 200px 0; }
  .hamaline-detail .hamaline-gif {
    display: inline-block;
    content: "";
    width: 913px;
    height: 459px;
    background: url("../images/reat4.png") no-repeat;
    position: relative; }
    .hamaline-detail .hamaline-gif img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate(-50%, -50%); }
    .hamaline-detail .hamaline-gif .free-btn-2 {
      position: absolute;
      /*top: 50%;*/
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate(-50%, -50%);
      font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
      top: 110%;
      display: inline-block;
      width: 216px;
      height: 55px;
      font-size: 24px;
      text-align: center;
      line-height: 55px;
      border: 2px solid #155EA1;
      color: #155EA1;
      background: #fff;
      border-radius: 35px; }
      .hamaline-detail .hamaline-gif .free-btn-2:hover {
        background: #155EA1;
        color: #fff;
        transition: all .5s ease-out;
        border: none; }
      .hamaline-detail .hamaline-gif .free-btn-2:active {
        background: rgba(21, 94, 161, 0.9); }

.hamaline-report {
  background: url("../images/banner3.png") no-repeat;
  height: 700px;
  position: relative;}
  .hamaline-report img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate(-50%, -50%); }
  .hamaline-report .fadein-left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate(5%, 5%);
    top: 33%;
    left: 38%; }
.hamaline-report .dotted-line {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(0%, 0%, 0);
  -ms-transform: translate(0%, 1%);
  top: 12%;
  left: 32%;
}
  .hamaline-report .fadein-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate(0%, 1%);
    top: 23%;
    left: 43%; }
.hamaline-report .fadeIn {
  animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  
  -ms-animation-delay: 1s;
  animation-delay: 1s;

  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.hamaline-report .fadeInUp {
  animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -ms-animation-name: fadeInUp;

  -ms-animation-delay: 1s;
  animation-delay: 1s;

  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
}
.hamaline-report .free-btn-2 {
  position: absolute;
  left: 37%;
  transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate(1%, -5%);
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  top: 84%;
  display: inline-block;
  width: 216px;
  height: 55px;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  border: 2px solid transparent;
  color: #155EA1;
  background: #fff;
  border-radius: 30px; }
.hamaline-report .free-btn-2:hover {
  background: #155EA1;
  color: #fff;
  transition: all .5s ease-out;
  border: none; }
.hamaline-report .free-btn-2:active {
  background: rgba(21, 94, 161, 0.9); }
.purchase .layui-tab-card {
  width: 500px;
}
.hamaline-report .free-btn-3 {
  position: absolute;
  left: 52%;
  transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate(-2%, -3%);
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  top: 84%;
  display: inline-block;
  width: 216px;
  height: 55px;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  border: 2px solid transparent;
  color: #155EA1;
  background: #fff;
  border-radius: 30px; }
.hamaline-report .free-btn-3:hover {
  background: #155EA1;
  color: #fff;
  transition: all .5s ease-out;
  border: none; }
.hamaline-report .free-btn-3:active {
  background: rgba(21, 94, 161, 0.9); }
.purchase .layui-tab-card {
  width: 500px;
}
.purchase .product-title {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 30px;
  margin-bottom: 85px;
}
.purchase .purchase-card {
  margin-top: 120px;
}
.purchase .product {
  margin-top: 100px;
}
.purchase .layui-tab-content {
  height: 225px;
}
.purchase .layui-tab-card>.layui-tab-title li {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  width: 140px;
}
.purchase .layui-tab-item {
  margin-left: 40px;
  margin-top: 35px;
}
.purchase .layui-tab-item .purchase-card-price {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #E54616;
  vertical-align: middle;
  margin: 0 18px;
  width: 100px;
}
.purchase .layui-tab-item .price-text {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  font-size: 20px;
}
.purchase .layui-tab-item span:nth-of-type(2) {
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  text-decoration: line-through;
  color: #999;
  font-size: 16px;
  margin-left: 20px;
}
/*# sourceMappingURL=index.css.map */
